<launch>
    <arg name="prefix" default="smr04"/>
    <arg name="rviz_conf" default="$(find oav_mapping)/config/rviz/gmapping.rviz"/>
    <arg name="method" default="iris"/>
    
   <arg name="speed" default="1" />
    <arg name="rosbag_filepath" default="$(find oav_mapping)/bags/incubation_full.bag"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="-r $(arg speed) $(arg rosbag_filepath)" />



  <group if="$(eval arg('method') == 'iris')">
    <node pkg="iris_lama_ros" name="slam2d_ros" type="slam2d_ros" output="screen" required="true">
        <rosparam file="$(find oav_mapping)/config/iris_LaMa_slam.yaml" command="load" subst_value="true" />
        <remap from="scan" to="$(arg prefix)/scan"/>
    </node> 
  </group>
  <group unless="$(eval arg('method') == 'iris')" >
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <rosparam file="$(find oav_mapping)/config/gmapping_slam.yaml" command="load" subst_value="true" />
        <remap from="scan" to="$(arg prefix)/scan"/>
    </node> 

  </group>

    <!--include file="$(find oav_mapping)/launch/bringup.launch">
        <arg name="prefix" value="$(arg prefix)"/>
        <arg name="rviz_conf" value="$(arg rviz_conf)"/>
        <arg name="rviz" value="true"/>
        <arg name="gazebo" value="false"/>
        <arg name="spawn_model" value="true"/>
        <arg name="teleop" value="false"/>
    </include-->


</launch>


